<a href="https://colab.research.google.com/github/ykkim77/python-4th-week/blob/main/python_programming_4th.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 숫자형 Data Type

**정수형 데이터 타입**

In [ ]:
a = 1    
print("a = ",a)
print(type(a))     # a의 data type을 확인해 보면, int type이라는 것을 확인할 수 있음
b = -178
print("b = ",b) 
print(type(b))     # b의 data type을 확인해 보면, int type이라는 것을 확인할 수 있음

a =  1
<class 'int'>
b =  -178
<class 'int'>

**실수형 데이터 타입**

In [ ]:
a = 1.2
print("a = ",a)       
print(type(a))           # a의 data type을 확인해 보면, float type이라는 것을 확인할 수 있음

b = 4.24E10
print("b = ",b)
print(type(b))          # b의 data type을 확인해 보면, float type이라는 것을 확인할 수 있음

a =  1.2
<class 'float'>
b =  42400000000.0
<class 'float'>

**8진수(octal)**

In [ ]:
a= 0x177            # a를 8진수로 입력
print(a)            # a를 10진수로 출력

b = 0x8ff          # b를 16진수로 입력
print(b)           # b를 10진수로 출력

375
2303

**사칙 연산이 포함된 숫자**

In [ ]:
a = 3
b = 4

print ("a+b = ",a+b)           # 더하기 연산
print ("a*b = ",a*b)           # 곱하기 연산
print ("a/b = ",a/b)           # 나누기 연산
print ("a**b = ",a**b)         # 누승 연산
print ("a//b = ",a//b)
print ("a%b = ",a%b)

a+b =  7
a*b =  12
a/b =  0.75
a**b =  81

# 문자열 자료형

문자열 자료형의 다양한 표현 방법

In [ ]:
print("Hello Wolrd")       # " " 큰 따옴표로 감싸는 문자열
print('Hello Wolrd')       # ' ' 작은 따옴표로 감싸는 문자열
print("""
      python is fun       
      """ )                # """ 큰 따옴표 3개로 감싸는 문자열
print('''
      Life is too short, You need python       
      ''' )                # ''' 작은 따옴표 3개로 감싸는 문자열

Hello Wolrd
Hello Wolrd

      python is fun


      Life is too short, You need python

**문자열에서 줄바꿈을 표현하는 방법**

In [ ]:
multiline = "Life is too short\n You need python"     # \n 기호는 줄바꿈을 의미한다.
print(multiline)
multiline = """
Life is too short
You need python
"""                                 # """ 기호는 문자열의 줄바꿈을 인식하여 데이터를 저장
print(multiline)
multiline = '''
Life is too short
You need python
'''                                 # ''' 기호는 문자열의 줄바꿈을 인식하여 데이터를 저장
print(multiline)

Life is too short
 You need python

Life is too short
You need python


Life is too short
You need python

**문자열 연산**

In [ ]:
head = "python"
tail = " is fun"

print(head + tail)    # 문자열 연결하기

print(head * 3)      # 문자열 곱하기

a = "life is too short"
len(a)                    # 문자열 길이 구하기

python is fun
pythonpythonpython

17

**문자열 인덱싱**

In [ ]:
a = "Life is tooshort, You need python"

print(a[0],a[1],a[2],a[3],a[4])  # 문자열의 인덱싱 접근

print(a[-1],a[-2])    # 문자열 인덱싱을 -1로 접근

print(a[0:4])    # 문자열 슬라이싱


a = "20010331Rainy"
print(a[:8])    #  처음부터 8 전까지의 문자열을 뽑아냄
print(a[8:])    #  8부터 끝까지의 문자열을 뽑아냄

L i f e
n o
Life
20010331
Rainy

**문자열 formatting**

In [ ]:
print("I eat %d apples"%3)    # %d는 10진수를 나타냄, 문자열 뒤에 숫자형 %3이 %d에 대치되어 표현
number = 3
print("I eat %d apples"%number)  # %d는 decimal을 의미한다. 문자열 뒤에 %number 숫자형 변수를 %d에 대입해 문자열에 숫자로 나타낼 때 쓰인다.

str_five = "five"

print("I eat %s apples"%str_five)   # %s 는 string을 의미한다. 문자열 뒤에 %str_five 문자열 변수를 넣어 문자열 안에 %s 에 대입되도록 한다.



num = 10
day = "three"

print("I ate %d apples, so I was sick for %s days."%(num,day))

I eat 3 apples
I eat 3 apples
I eat five apples
I ate 10 apples, so I was sick for three days.

**정렬과 공백**

In [ ]:
# %s를 숫자와 함께 사용하면, 공백과 정렬 표현 가능

print("%10s"%"hi")
print("%-10sjane"%"hi")

        hi
hi        jane

In [ ]:
# 소수점 표현하기 
print("%0.4f"% 3.42134234)      # 소수점 4자리까지 표현
print("%10.4f"% 3.42134234)      # 10개의 공간에 숫자를 표현, 소수점은 4자리까지 표현

3.4213
    3.4213

In [ ]:
name = '홍길동'
age = 30
print(f'나의 이름은 {name} 입니다. 나이는 {age+1} 입니다.')    # f 문자열 formatting

나의 이름은 홍길동 입니다. 나이는 31 입니다.

**문자열 자료형 관련 함수**

In [ ]:
a = 'hobby'     

a.count('b')    # count 함수

2

In [ ]:
','.join('1231414214513414a')   # join 함수수

'1,2,3,1,4,1,4,2,1,4,5,1,3,4,1,4,a'

In [ ]:
a = "python is best choice"

print(a.find('b'))       # b 의 위치를 반환
print(a.find('k'))       # k 의 위치를 반환, k의 위착 없으므로 -1이 반환됨됨

10
-1

In [ ]:
a = 'hi'

print(a.upper())   # 소문자를 대문자로 변환

b = 'HI'

print(b.lower())   # 대문자를 소문자로 변환

HI
hi

In [ ]:
a = "Life is too short"
a.replace("Life","Your leg")   # replace() 함수를 이용하여 특정 값을 다른 값으로 치환하기기

'Your leg is too short'

In [ ]:
a = "Life is too short"
print(a.split())    # 공백을 기준으로 문자열을 나눔

b = "a:b:c:d"
print(b.split(':')) # :기호를 기준으로 문자열을 나눔

# 리스트 자료형

**리스트 자료형의 정의**

In [16]:
# 리스트 안에 어떠한 자료형도 포함 가능
a = []
b = [1,2,3,4]
c = ['Life','is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1,2,['Life', 'is']]

In [17]:
e [2]      # 리스트는 인덱스를 통해 접근 가능함

['Life', 'is']

In [18]:
d[-1]     # 인덱스 -1은 마지막 요솟값을 가르킴

'is'

In [19]:
b[0] + b[2]     # 리스트 요솟값 간의 덧셈셈

4

In [20]:
print(b+c)    # 리스트 합치기
print(b*2)    # 리스트 반복

[1, 2, 3, 4, 'Life', 'is', 'too', 'short']
[1, 2, 3, 4, 1, 2, 3, 4]

In [21]:
b[0] = 100    # 리스트 요소값을 수정하기
print(b)

[100, 2, 3, 4]

In [22]:
del b[3]     # del 키워드로 리스트 요소 삭제하기기

In [23]:
b.append(9)   # append 내장함수로 리스트 맨 마지막에 9을 추가
b

[100, 2, 3, 9]

In [24]:
b.index(9)    # 요소를 검색하여 위치를 반환

3

In [25]:
b.sort()      # 리스트의 요소를 순서대로 정렬.sort()      # 리스트의 요소를 순서대로 정렬
b

[2, 3, 9, 100]

In [26]:
b.reverse()     # 리스트를 역순으로 뒤집어줌
b

[100, 9, 3, 2]

In [27]:
b.insert(1,4)      # 리스트에 요소 삽입,   인덱스 1 자리에 4를 삽입
b

[100, 4, 9, 3, 2]

In [28]:
b.remove(100)   # 리스트에서 첫번째로 나오는 데이터를 삭제
b

[4, 9, 3, 2]

In [29]:
b.extend([5,6,7,8,])   # 리스트 확장하기
b

[4, 9, 3, 2, 5, 6, 7, 8]